@import "ui-variables";

body {
    font-family: "Segoe UI";
    font-size: 14px;
    margin: 0;
    // margin-top: 1px;
    // margin-left: 1px;
    padding: 0;
    overflow: hidden;
    background-color: @ui-background;
    // border: 1px solid @ui-borders;
}

span {
    cursor: default;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: @ui-borders;
    border-radius: 10px;
    margin: 5px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: @ui-borders - #333;
}

::-webkit-scrollbar-thumb:window-inactive {

}
