.toolbar {
  background-color: white;
  border-right: 1px solid #dadada;
  width: 50px;
  height: 100vh;
}
.toolgroup {
  width: 50px;
  height: 50px;
  position: relative;
}
.toolgroup .toolgroup-icon:hover {
  background: #eaeaea;
}
.toolgroup .toolgroup-menu {
  position: absolute;
  left: 50px;
  top: 0px;
  border: 1px solid #dadada;
  background-color: white;
  margin-top: -1px;
  z-index: 2;
}
.toolgroup .toolgroup-menu .toolitem {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.toolgroup .toolgroup-menu .toolitem .toolitem-icon {
  margin: auto;
  height: 35px;
  display: block;
  padding: 2px;
  cursor: pointer;
}
.toolgroup .toolgroup-menu .toolitem .toolitem-label {
  text-align: center;
  display: block;
  font-size: 10px;
  margin-top: -3px;
  cursor: pointer;
}
.toolgroup .toolgroup-menu .toolitem:hover {
  background: #eaeaea;
}
.toolgroup .toolgroup-menu.ng-enter,
.toolgroup .toolgroup-menu.ng-leave {
  transition: all 250ms;
}
.toolgroup .toolgroup-menu.ng-enter .toolitem,
.toolgroup .toolgroup-menu.ng-leave .toolitem {
  transition: all 150ms;
}
.toolgroup .toolgroup-menu.ng-enter,
.toolgroup .toolgroup-menu.ng-leave.ng-leave-active {
  width: 0;
}
.toolgroup .toolgroup-menu.ng-enter .toolitem,
.toolgroup .toolgroup-menu.ng-leave.ng-leave-active .toolitem {
  opacity: 0;
}
.toolgroup .toolgroup-menu.ng-leave,
.toolgroup .toolgroup-menu.ng-enter.ng-enter-active {
  width: 100px;
}
.toolgroup .toolgroup-menu.ng-leave .toolitem,
.toolgroup .toolgroup-menu.ng-enter.ng-enter-active .toolitem {
  opacity: 1;
}
.toolgroup-icon {
  width: 50px;
  height: 50px;
}
