<div class="pane">
    <div class="title">Properties</div>
    <div class="properties view" ng-if="selected">
        <span class="typename"><input type="text" ng-model="selected.options.name"></span>

        <table>
            <tr ng-repeat="(key, value) in selected.renderer">
                <td class="key">
                    {{ value.label }}
                </td>
                <td>
                    <!-- <value-input type="value.type" value="value"></value-input> -->
                </td>
            </tr>
        </table>
    </div>
</div>
